---
name: brew test-bot

'on':
  push:
    branches:
      - main
  pull_request:

jobs:
  test-bot:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15-intel
          - macos-15
          - macos-26
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      checks: read
      contents: read
      pull-requests: read
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Homebrew Bundler RubyGems
        uses: actions/cache@v4
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ matrix.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}  # yamllint disable-line rule:line-length
          restore-keys: ${{ matrix.os }}-rubygems-

      - run: brew test-bot --only-cleanup-before

      - name: Fix Homebrew perms
        run: |
          set -euo pipefail
          brew_repo="$(brew --repository)"
          # Temporary workaround for ubuntu-22.04-arm runner image permissions.
          # The Homebrew prefix is not writable by the runner user without this.
          sudo chown -R "$(id -un)":"$(id -gn)" "${brew_repo}"
          sudo chmod -R go-w "${brew_repo}"

      - run: brew test-bot --only-setup

      - run: brew test-bot --only-tap-syntax

      - run: brew test-bot --only-formulae
        if: github.event_name == 'pull_request'

      - name: Upload bottles as artifact
        if: always() && github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: bottles_${{ matrix.os }}_${{ github.run_id }}
          path: '*.bottle.*'
