---
name: Update tap

'on':
  schedule:
    - cron: "0 0 * * *"
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update formulas
        uses: dawidd6/action-homebrew-bump-formula@1446dca236b0440c6f02723a3f14f13be2c04ab0 # v7
        with:
          livecheck: true
          tap: ${{github.repository}}
          token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          user_name: ${{ github.actor }}
          user_email: >-
            ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
