---
name: Update tap

'on':
  schedule:
    - cron: "0 0 * * *"
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update formulas
        uses: sheurich/action-homebrew-bump-formula@bba49c997550d886e4a8495a128010acca57588b
        with:
          livecheck: true
          tap: ${{github.repository}}
          token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          user_name: ${{ github.actor }}
          user_email: >-
            ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
